**/*.tfvars
**/*.tfvars.json
**/*.backup
**/*.bak
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/.terraform.lock.hcl
**/packer_cache/
**/image_name.txt
.env
!.env.example 
.vscode/
scripts/*.log
*.tmp 
**/backend_override.tf
**/override.tf
**/.auto.pkrvars.hcl